/**********************/
/*******GENERAL*******/
/**********************/

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.blue {
  background-color: blue;
}

/**********************/
/*******HOMEPAGE*******/
/**********************/
.main-title {
  display: flex;
  justify-content: center;
}

.left-content,
.right-content {
  width: 50%;
}

.main-punchline {
  font-size: 5rem;
}

.second-liner {
  background-color: rgb(210, 214, 220);
}
