/**********************/
/*******GENERAL*******/
/**********************/
:root {
  --line-height: 2.4rem;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

/**********************/
/*******HOMEPAGE*******/
/**********************/

/***FIRST LINER ***/
.main-title {
  display: flex;
  justify-content: center;
}

.left-content,
.right-content {
  width: 50%;
}

.left-content p {
  font-size: 2rem;
  margin-top: 20px;
}

.left-content button,
.CTA-button {
  margin-top: 32px;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  border: 1px solid transparent;
  background-color: rgb(28, 100, 242);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;
}

.left-content button:hover,
.CTA-button:hover {
  background-color: rgba(63, 131, 248, 0.8);
  transition: background-color 0.5s;
}

.main-punchline {
  font-size: 6.4rem;
  margin-bottom: 0;
}
.first-liner {
  padding: 3rem 0;
  position: relative;
}

.first-liner .software-image img {
  position: absolute;
  width: 1200px;
  transform: rotate(-5deg);
  right: -500px;
  top: -50px;
  z-index: -1;
}

@media only screen and (max-width: 1400px) {
  .first-liner .software-image img {
    position: absolute;
    width: 1200px;
    right: -650px;
    top: -25px;
    z-index: -1;
  }
}
@media only screen and (max-width: 1024px) {
  .first-liner .software-image img {
    display: none;
  }

  .main-punchline {
    text-align: center;
  }
  .right-content {
    display: none;
  }
  .left-content {
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .first-liner .software-image img {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .first-liner .software-image img {
    display: none;
  }
}

/***SECOND LINER ***/

.second-liner {
  background-color: #f9fafb;
  border-top: 1px solid rgba(210, 214, 220, 0.5);
  border-bottom: 1px solid rgba(210, 214, 220, 0.5);
}

.cards-container {
  display: flex;
  justify-content: center;
  padding: 8rem 0;
}

.card {
  font-size: 1.4rem;
  width: 30%;
  margin: 0 1%;
  line-height: var(--line-height);
}

.card .card-title {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.card span:last-child {
  font-size: 1.8rem;
  color: rgb(75, 85, 99);
}

@media only screen and (max-width: 1024px) {
  .cards-container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    padding-bottom: 5rem;
  }

  .card-title {
    font-size: 1.8rem;
  }
}

/***THIRD LINER ***/

.third-liner {
  position: relative;
  height: 400px;
  background-color: rgb(244, 245, 247);
  padding: 3rem 0;
  text-align: center;
}

.third-liner h2.punchline {
  max-width: 768px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  margin: auto;
}
.third-liner p {
  color: rgb(75, 85, 99);
  font-size: 2rem;
  max-width: 768px;
  margin: auto;
  line-height: var(--line-height);
}

.third-liner img {
  position: absolute;
  width: 1000px;
  left: 10px;
  top: 250px;
  border: 1px solid rgba(210, 214, 220, 0.5);
}

h2.punchline {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

/***FOURTH LINER ***/

.fourth-liner {
  background-color: #161e2e;
  color: white;
  height: 600px;
  padding-top: 35rem;
  padding-bottom: 30rem;
}

.fourth-liner p {
  font-size: 2rem;
  text-align: center;
}

.fourth-liner .tick-box {
  margin-left: 156px;
  margin-right: 156px;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
}

.tick-box > div {
  width: 30%;
}

.tick-box > div > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.tick-box > div > div svg {
  margin-right: 10px;
}

h3.punchline {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

/***FIFTH LINER ***/

.fifth-liner {
  padding: 5rem 0;
  background-color: rgb(249, 250, 251);
}

.fifth-liner > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
}

.fifth-liner button.CTA-button {
  margin-top: 0;
}

.fifth-liner p {
  font-size: 2.8rem;
  font-weight: 700;
}

/**********************/
/********Footer*******/
/**********************/

footer {
  background-color: rgb(249, 250, 251);
  color: rgb(159, 166, 178);
  padding-bottom: 6rem;
}
footer > div {
  border-top: 1px solid rgba(210, 214, 220, 0.5);
}

footer span {
  font-size: 1.8rem;
}

.footerContent {
  padding-top: 2rem;
}

/**********************/
/********NAVBAR*******/
/**********************/

nav.navbar {
  padding: 2rem 0;
  font-size: 1.6rem;
  background-color: white;
  border-bottom: 1px solid rgb(210, 214, 220);
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  width: 125px;
  font-weight: 500;
}

.menu-elements {
  display: flex;
  justify-content: space-between;
}

.menu-elements > span {
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .menu-elements {
    display: flex;
    flex-direction: column;
  }
  nav ul li {
    margin-top: 2rem;
  }
}
